*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(assets/images/background-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:orangered;
    line-height: 40px;
}

.searchbar > .search_input{
    padding: 0 10px;
    width: 450px;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

.little-space{
    border: 0.3px solid black;
    margin-left: 1px;
    margin-right: 1px;
}